## ENV
NODE_ENV="development"
PORT="3000"
VERSION="1"

## DATABASE
DATABASE_URL=""

## CLIENT
CLIENT_URLS="http://localhost:5173,http://localhost:3001"

## API
API_URL=""

## BACKOFFICE / CAAS
BACKOFFICE_BASE_URL="https://sandcaas.undostres.com.mx"
OAUTH_ENDPOINT="/oauth/v1"
ECOMMERCE_TOKEN=""

## WEBHOOKS
WEBHOOK_SECRET="change-me"
WEBHOOK_TOLERANCE_SECONDS="300"

## JWT
JWT_SECRET=""
JWT_EXPIRES_IN="7d"
JWT_VERIFICATION_CODE_EXPIRES_IN="1h"

## BINANCE
BINANCE_BASE_URL="https://api.binance.com"

## CRIPTOYA
CRIPTOYA_BASE_URL="https://criptoya.com"

## EXCHANGE RATE FEES
USD_MXN_FEE_RATE="0.052"
BOB_USDT_FEE_RATE="0.012"
USDT_MXN_FEE_RATE="0.033"

## PAYMENT SERVICE
PAYMENT_SERVICE_API_KEY=""
PAYMENT_SERVICE_SECRET_KEY=""
PAYMENT_SERVICE_BASE_URL="https://api.payclip.com"

## BANXICO
BANXICO_QUERY_TOKEN=""
BANXICO_BASE_URL="https://www.banxico.org.mx/SieAPIRest/service/v1"

## SIP
SIP_BASE_URL=""
SIP_APIKEY=""
SIP_USERNAME=""
SIP_PASSWORD=""
SIP_APIKEY_SERVICIO=""
SIP_PUBLIC_CALLBACK_URL=""
SIP_CALLBACK_BASIC_USER=""
SIP_CALLBACK_BASIC_PASS=""
SIP_TIMEOUT_MS=15000
SIP_TOKEN_CACHE_TTL_SECONDS=3300

## SPEI
SPEI_CASHOUT_FEE="0"

## CAMPAIGN
CAMPAIGN_ID="SOF250820595"
CREDIT_LINE="0"
PROGRAM_CODE="KBZ260121860"

## SENDER MAIL
FROM_MAIL="Prospera <info@slan.mx>"
RESEND_API_KEY=""

## CROSSMINT
CROSSMINT_SERVER_API_KEY=""
CROSSMINT_ENV="staging"

## TIME ZONE
TIME_ZONE="America/Mexico_City"

## FIREBASE
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

## GCP STORAGE
GCS_PROJECT_ID=""
GCS_CLIENT_EMAIL=""
GCS_PRIVATE_KEY=""
GCS_BUCKET_NAME=""
CLOUD_PROVIDER="Local"
STORAGE_URL=""

## GCP FIRESTORE
GCP_FIRESTORE_PROJECT_ID=""
GCP_FIRESTORE_CLIENT_EMAIL=""
GCP_FIRESTORE_PRIVATE_KEY=""
GCP_FIRESTORE_PRIVATE_KEY_ID=""
GCP_FIRESTORE_CLIENT_ID=""
