# This file is used to configure npm settings for the project. The following setting specifies the minimum age (in days) that a package must be before it can be released. In this case, it is set to 1 day.
min-release-age=1

# This setting disables the npm fund command, which is used to find out how to support the maintainers of the packages you use.
fund=false
audit-level=high

# This setting ensures that when you install a package, it will be saved with an exact version number in your package.json file, rather than using a range of versions. This can help prevent issues with incompatible versions of packages.
save-exact=true
engine-strict=true
